@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

:root{

    /* DARK MODE */
    --orange: #EE753C;
    --lightOrange: #F8BC3B;
    --dark: #251D2D;
    --midDark: #3D3940;
    --white: #FFFFFF;

    /* LIGHT MODE */
    --redWine: #711f24;
}



body{

    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background: var(--dark);
    margin:0;
    box-sizing: border-box;
}
.container{
    padding: 43px 0 0 0; 
    /* overflow: hidden; */
    margin-bottom: 20px;/*quietar luego con segurida es provisonal*/
}


/* ------------------------------------------------
   STILOSA LA BARRA DE BUSQUEDA YSUS BOTONES
--------------------------------------------------- */
    header{
     padding:0px 30px; 
    }

    header .searchBar{
        display: flex;
        justify-content: space-between;
    }

    header .searchBar .btn-search-bar{

        width: 29px;
        height: 28px;
        border: 1px solid var(--white);
        border-radius: 7px ;
        background: transparent;
        color: var(--white);
        outline: 0;
    }

/* ------------------------------------------------
    ESTILOS AL TITULO DE PANTALLA PRINCIPAL Y LOGO
--------------------------------------------------- */

    .tittleAndLogoBox{
        display: flex;
        justify-content: space-between;
        margin-top: px;
        margin-top: 42px;
    }

    .tittle,.time,.hours{
        
        margin:0;
        padding: 0;
        margin-bottom: -8px;
    
    }

    .tittleAndLogoBox .tittleBox .tittle{
        font-size: 24px;
        font-weight: 600;
        /* height: 36px; */
    }


    .tittleAndLogoBox .tittleBox p{
        margin-top: 5px;
        font-size: 14px;  
    }

    .tittleAndLogoBox .tittleBox .time{
        margin-bottom: -4px; 
    }

    .tittleAndLogoBox .tittleBox .hours{
        border: 1px solid var(--white);
        border-radius: 43px;
        width: 137px;
        padding: 5px;
        text-align: center;  
    }

    .tittleAndLogoBox .logoBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .tittleAndLogoBox .logoBox .logo{
    width: 93px;
    height: 95px;
    }

    /* Abierto o cerrado */
    .tittleAndLogoBox .logoBox .openClose{
        padding: 1px 5px;
        margin: 0;
        background: var(--lightOrange);
        border-radius: 158px;
        font-size: 14px;
        color: var(--redWine)
    }

    /* Estrella del ranking */
    .tittleAndLogoBox .logoBox .ranking{
        
        padding: 0px 5px;
        margin: 0;
        background: var(--lightOrange);
        border-radius: 158px;
        font-size: 14px;
        color: var(--redWine)
    }

 /* ------------------------------------------------
    ESTILOS  A LAS CATEGORIAS
--------------------------------------------------- */

    .categoryBox .categoryTittle{
        margin: 0%;
        font-size: 22px;
        font-weight: 510;
        padding-left:30px; 
    }

    .categoryBox .listCategories{
    display: flex; 
    outline: 0;
    flex-wrap: nowrap;
    margin-top: 5px;
    padding-left:30px;
    padding-right: 30px;
    overflow-y: hidden; 
    scroll-behavior: smooth;
    }

    .listCategories::-webkit-scrollbar {
        display: none;
    }
    
    .categoryBox .listCategories .btn-list-item{
    font-size: 1rem;
    color: var(--white);
    background: var(--midDark);
    border: 0;
    border-radius: 43px;
    outline: 0;
    padding: 7px 16px;
    width: auto;
    height: 35px;
    margin-right: 10px;
    }

    .categoryBox .listCategories .btn-list-item.active{
        background: var(--lightOrange);
        color: var(--dark);
    }
    

 /* ------------------------------------------------
    ESTILOS  LAS CARDS DE PRODUCTOS
--------------------------------------------------- */

    .productSection{
        padding:0 30px 0 30px; 
    }

    /* titulo categoria seleccionada en la seccion de producto */
    .productSection .productTittleCat {
        font-size: 18px;
    }

    .productSection .card-product{
        display: flex;
        background: var(--midDark);
        border-radius: 13px;
        margin-top: 16px;
        width: 354px;
    }

    .productSection .card-product::f{

    }
    .card-tittle,.card-text,.card-pay{
        margin:0;
        margin-left: 15px;
    }
    /* Titulo del producto */
    .productSection .card-product .card-body .card-tittle{
        font-size: 16px;
        font-weight: 500;
        margin-top:6px;
    
    }
    /* Texto en amarillo en el producto */
    .productSection .card-product .card-body .card-text{
        font-size: 11px;
        font-weight: 500;
        color:var(--lightOrange)
    }
    .productSection .card-product .card-body .card-pay{
        color:var(--orange);
        font-size: 16px;
        font-weight: 700;
        margin-top: 5px;
    }
    /* Botones */
    .productSection .card-product .card-body .card-buttons{
        display: flex;
        justify-content: flex-end;
        /* margin-top: 10px; */
        align-items: center;
    }

    .productSection .card-product .card-body .card-buttons button{
        width: 25px;
        height: 25px;  
        font-size: 16px;
        background: transparent;
        outline: 0;
        border: 0;
        border-radius: 50%;
    }
    .productSection .card-product .card-body .card-buttons .subs{
        border: 0.5px solid var(--lightOrange); 
        color: var(--lightOrange); 
        
    }
    .productSection .card-product .card-body .card-buttons .add{
        background :var(--lightOrange); 
        
    }
    .productSection .card-product .card-body .card-buttons .quantity{
        margin: 0 10px 0 10px;  
        font-size: 12px;
    }

/* ------------------------------------------------
    ESTILOS  el pie de pagina
--------------------------------------------------- */